@use "../setting/setting";

/*================================
	代表挨拶
=================================*/
.c-about__portrait{
  img{
    margin-top: 24px;
  }

  p{
    font-size: 14px;
    margin-top: 8px;
    text-align: right;
  }
}

@media (min-width: 768px){
  .c-about__portrait{
    img{
      margin-top: 0;
    }
  }
}


/*================================
	アクセス
=================================*/

@media not all and (min-width: 1024px){
  .c-about__access{

    tr{
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }

    th{
      display: block;
      padding: 20px 12px 8px;
      font-size: 18px;    
    }

    td{
      display: block;
      padding: 8px 0 20px 12px;
    }
  }
} 



@media (min-width: 1024px){

  .c-about__access{

    th{
      padding: 20px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      width: 120px;
      vertical-align: top;
    }

    td{
      padding: 20px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;

      a{
        font-weight: bold;
        color: setting.$color-link;
      }
    }
  }
}

/*================================
	PanasonicリフォームClubについて
=================================*/
.c-about__pana{
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px 20px;
  background: setting.$color-accent;
  margin-top: 24px;

  p{
    padding-top: 16px;
  }

  a{
    font-weight: bold;
    color: setting.$color-link;
  }
}

@media (min-width: 768px){
  .c-about__pana{
    padding: 24px 40px 32px;
  }
}