@use "../setting/setting";

.c-button{
  position: relative;

  a{
    color: #fff;
    text-align: center;
    background: setting.$color-main;
    padding: 12px 16px;
    letter-spacing: 1.6px;
    margin: 24px auto 0;
    display: block;
    transition: .4s;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      background: url('../images/icon-arrow.svg') no-repeat;
      background-size:cover;   
      height: 16px;
      width: 16px;
    }

    @media (min-width: 768px){
      width: 200px;
      margin-left: 0;
    }

    &:hover{
      background: #333;
      color: setting.$color-accent;
    }
  }
}

@media (min-width: 768px){
  .c-button{
    width: 200px;
  }
}

.-center{
  margin: 0 auto;
}
