@use "../setting/setting";

.c-flex{
  padding: 20px 0 40px;
}

.c-flex__heading{
  span{
    font-size: 14px;
    color: setting.$color-main;
    text-transform: uppercase;
    font-family: setting.$font-en;
    letter-spacing: 1px;
  }

  h2{
    font-size: 20px;
  }
}

.c-flex__text{
  p{
    padding-top: 12px;
    line-height: 2;
  }
}


@media (min-width: 768px){
  .c-flex{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px;
  }

  .c-flex__item{
    width: 48%;

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 1024px){
  .c-flex{
    padding: 60px 0 72px;
  }
  .c-flex__item{
    width: 44%;
  }

  .c-flex__img{
    width: 50%;
  }


.c-flex__heading{
  padding-top: 12px;
  h2{
    font-size: 24px;

  }
}
}

.-reverse{
  flex-direction: row-reverse;
}

.-alignCenter{
  align-items: center;
}
