@use "../setting/setting";

.c-flow{
  padding: 40px 0;
  border-top: 1px solid #dadada;
}

.c-flow__list{
  max-width: 800px;
  padding-top: 32px;
  margin: 0 auto;
  position: relative;
}

.c-flow__item{
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 25px rgba(0,0,0,0.06);
  margin-bottom: 24px;

  span{
    background: setting.$color-main;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: setting.$font-en;

    @media (min-width: 640px){
      width: 40px;
      height: 40px;
    }

    @media (min-width: 768px){
      width: 48px;
      height: 48px;
    }

    @media (min-width: 1024px){
      width: 56px;
      height: 56px;
      font-size: 20px;
    }

  }
}

.c-flow__content{
  width: 88%;

  p{
    padding-top: 12px;
  }
}

@media (min-width: 768px){
  .c-flow__item{
    margin-bottom: 24px;
  }

  .c-flow__content{
    width: 90%;
    padding-top: 12px;
  }
}

/*================================
	PC
=================================*/
@media (min-width: 1024px){
  .c-flow{
    padding: 88px 0 40px;
  }

  .c-flow__list{
    margin-top: 24px;
  }

  .c-flow__item{
    padding: 28px 28px 40px;
    margin-bottom: 40px;
  }

  .c-flow__content{
    h3{
      font-size: 20px;
    }
  }
}