@use "../setting/setting";

.c-flow{
  max-width: 800px;
  padding-top: 32px;
  margin: 0 auto;
}

.c-flow__list{
  position: relative;

  &:before{
    background: setting.$color-main;
    content: "";
    height: 94%;
    left: 0;
    position: absolute;
    top: calc(1.22449vw + 10.40816px);
    width: 2px;
  }
}

.c-flow__item{
  padding-bottom: 40px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;

  span{
    background: setting.$color-main;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 640px){
      width: 40px;
      height: 40px;
    }

    @media (min-width: 768px){
      width: 48px;
      height: 48px;
    }

    @media (min-width: 1024px){
      width: 56px;
      height: 56px;
      font-size: 20px;
    }

  }

  &:before{
    background:  setting.$color-main;
    border-radius: 50%;
    content: "";
    height: calc(0.2449vw + 6.08163px);
    left: calc(-0.16327vw - 1.38776px);
    position: absolute;
    top: calc(1.22449vw + 10.40816px);
    width: calc(0.2449vw + 6.08163px);
  }
  
  &:after{
    border-bottom: 2px dotted setting.$color-main;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(1.38776vw + 11.79592px);
    width: 7vw;
    z-index: -1;
  }
}

.c-flow__content{
  width: 84%;

  p{
    padding-top: 12px;
  }
}

@media (min-width: 768px){
  .c-flow__item{
    margin-bottom: calc(3.26531vw + 27.7551px);
    padding-left: calc(4.08163vw + 24.69388px);
  }

  .c-flow__content{
    width: 90%;
    padding-top: 12px;
  }
}