@use "../setting/setting";

.c-topHeading{
  span{
    color: setting.$color-main;
  }
}

@media (min-width: 1024px){
  .c-topHeading{
    h2{
      font-size: 40px;
      line-height: 1.5;
    }
  }
}