@charset "UTF-8";
/* A Modern CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*================================
	ブレイクポイント
=================================*/
/*================================
	色設定
=================================*/
/*================================
	フォント
=================================*/
/*================================
	全体共通
=================================*/
body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
  font-weight: 500;
  color: #333;
  line-height: 1.75;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.l-header {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

/*================================
	ロゴ
=================================*/
.l-header__logos {
  display: flex;
  z-index: 100;
  position: absolute;
}

.l-header__logo {
  width: 96px;
  height: 96px;
}
.l-header__logo img {
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*================================
	global navigation
=================================*/
.l-header__menu li {
  text-transform: uppercase;
}

@media not all and (min-width: 1200px) {
  /* ハンバーガーメニューのスタイリング */
  .l-header__nav {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 80px;
    z-index: 99;
  }
  .l-header__menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
  .l-header__menu li {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid #dadada;
    letter-spacing: 0.1em;
    position: relative;
  }
  .l-header__menu a {
    position: relative;
    padding-right: 24px;
  }
  .l-header__menu a:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../images/header/icon-arrow.svg) no-repeat center center/cover;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .l-header__menu a:hover {
    color: #A99B8E;
  }
  .l-header__nav.open {
    position: absolute;
    right: 0; /* メニューオープン時位置0にして画面内に */
    z-index: 99;
    top: 0;
    padding-top: 96px;
    visibility: visible;
    opacity: 1;
    transition: ease 0.5s;
  }
  body .open {
    background: #fff;
  }
}
/* 1024px以上のスタイリング */
@media (min-width: 1201px) {
  .l-header {
    height: auto;
    width: 100%;
  }
  .l-header__logo {
    width: 120px;
    height: 120px;
  }
  .l-header__logo img {
    height: 120px;
    width: 100%;
  }
  .l-header__nav {
    display: flex;
    position: static;
    justify-content: flex-end;
    height: 88px;
  }
  .l-header__menu {
    /* メニューを横に */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    background: none;
    height: 90px;
  }
  .l-header__menu li {
    height: 100%;
    margin-right: 36px;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
  }
  .l-header__menu li:hover {
    color: #A99B8E;
  }
  .l-header__menu li a {
    height: 90px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.current-menu-item {
  color: #A99B8E;
}
.current-menu-item a {
  padding-bottom: 8px;
  border-bottom: 1px solid #A99B8E;
}

.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.l-footer {
  padding: 28px 0 12px;
  background: #A99B8E;
  color: #eee;
}

.l-footer__info h1 {
  width: 240px;
}
.l-footer__info h1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.l-footer__pana {
  padding-top: 8px;
}
.l-footer__pana img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 8px;
  width: 240px;
  height: 100%;
}

.l-footer__phrase {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 8px;
}
.l-footer__phrase p {
  color: #eee;
}

.l-footer__copy {
  text-align: right;
  color: #ccc;
  display: block;
  font-size: 12px;
}

@media not all and (min-width: 1024px) {
  .l-footer__menu {
    padding-top: 16px;
  }
  .l-footer__menu li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .l-footer__menu li:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 16px;
    background: url(../images/footer/icon-arrow-white.svg) no-repeat center center/cover;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .l-footer__copy {
    margin-top: 40px;
    text-align: center;
    letter-spacing: 1px;
  }
}
@media (min-width: 768px) {
  .l-footer {
    padding: 54px 0 12px;
  }
}
@media (min-width: 1024px) {
  .l-footer {
    padding: 64px 0 32px;
  }
  .l-footer__content {
    display: flex;
    justify-content: space-between;
  }
  .l-footer__info {
    padding-top: 0;
  }
  .l-footer__info h1 {
    width: 300px;
    margin-top: -28px;
  }
  .l-footer__menu {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: auto;
  }
  .l-footer__menu li {
    padding-top: 20px;
    margin-left: 48px;
    font-size: 14px;
    writing-mode: vertical-rl;
    letter-spacing: 4px;
    position: relative;
    transition: 0.5s;
  }
  .l-footer__menu li:hover {
    opacity: 0.6;
  }
  .l-footer__menu li:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 16px;
    background: url(../images/footer/icon-arrow-down.svg) no-repeat center center/cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .l-footer__pana {
    margin-top: 40px;
  }
  .l-footer__pana img {
    width: 240px;
  }
}
.l-pageHeader {
  padding-top: 60px;
  position: relative;
}

.l-pageHeader__heading {
  writing-mode: vertical-rl;
  position: absolute;
  top: 120px;
  left: 32px;
  line-height: 1.4;
}
.l-pageHeader__heading span {
  color: #A99B8E;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
}
.l-pageHeader__heading h1 {
  font-size: 20px;
  letter-spacing: 2px;
}

.l-pageHeader__img {
  width: 70%;
  margin-left: 30%;
}
.l-pageHeader__img img {
  height: 50vh;
}

@media (min-width: 768px) {
  .l-pageHeader__img {
    width: 86%;
    margin-left: 14%;
  }
  .l-pageHeader__img img {
    height: 340px;
    width: 100%;
  }
  .l-pageHeader__heading {
    left: 6%;
  }
}
@media (min-width: 1024px) {
  .l-pageHeader {
    padding-top: 0;
    margin-bottom: 45px;
  }
  .l-pageHeader:after {
    content: "";
    position: absolute;
    background: #F5F3EE;
    right: 0;
    top: -90px;
    width: 38.46153vw;
    height: 500px;
    z-index: -1;
  }
  .l-pageHeader__img img {
    height: 340px;
    width: 100%;
  }
  .l-pageHeader__heading {
    top: 72px;
  }
}
/* ハンバーガーメニュー */
.c-hamburger {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #A99B8E;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ハンバーガーメニューの基準線 */
.c-hamburger__line {
  display: block;
  position: relative;
  width: 24px;
  height: 1px;
  background-color: #fff;
  transition: 0.2s;
  margin: 0 auto;
}

/* ハンバーガーメニューの上下線 */
.c-hamburger__line::before, .c-hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
  left: 0;
}

.c-hamburger__line::before {
  transform: translateY(-10px); /* 上の線の位置 */
}

.c-hamburger__line::after {
  transform: translateY(10px); /* 下の線の位置 */
}

/* メニューオープン時 */
.c-hamburger__line.open {
  background-color: transparent; /* 真ん中の線を透明に */
}

.c-hamburger__line.open::before, .c-hamburger__line.open::after {
  content: "";
  background-color: #fff;
  transition: 0.2s;
}

.c-hamburger__line.open::before {
  transform: rotate(45deg); /* 上の線を傾ける */
}

.c-hamburger__line.open::after {
  transform: rotate(-45deg); /* したの線を傾ける */
}

@media (min-width: 1200px) {
  .c-hamburger {
    display: none;
  }
}
.c-flex {
  padding: 20px 0 40px;
}

.c-flex__heading span {
  font-size: 14px;
  color: #A99B8E;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
}
.c-flex__heading h2 {
  font-size: 20px;
}

.c-flex__text p {
  padding-top: 12px;
  line-height: 2;
}

@media (min-width: 768px) {
  .c-flex {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px;
  }
  .c-flex__item {
    width: 48%;
  }
  .c-flex__item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .c-flex {
    padding: 60px 0 72px;
  }
  .c-flex__item {
    width: 44%;
  }
  .c-flex__img {
    width: 50%;
  }
  .c-flex__heading {
    padding-top: 12px;
  }
  .c-flex__heading h2 {
    font-size: 24px;
  }
}
.-reverse {
  flex-direction: row-reverse;
}

.-alignCenter {
  align-items: center;
}

.c-button {
  position: relative;
}
.c-button a {
  color: #fff;
  text-align: center;
  background: #A99B8E;
  padding: 12px 16px;
  letter-spacing: 1.6px;
  margin: 24px auto 0;
  display: block;
  transition: 0.4s;
  position: relative;
}
.c-button a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: url("../images/icon-arrow.svg") no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
}
@media (min-width: 768px) {
  .c-button a {
    width: 200px;
    margin-left: 0;
  }
}
.c-button a:hover {
  background: #333;
  color: #F5F3EE;
}

@media (min-width: 768px) {
  .c-button {
    width: 200px;
  }
}
.-center {
  margin: 0 auto;
}

.c-cta {
  position: relative;
  padding: 80px 0;
}
.c-cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/common/cta.jpg") no-repeat center center/cover;
}

.c-cta__wrapper {
  background: #fff;
  padding: 32px 24px;
  position: relative;
}

.c-cta__heading span {
  color: #A99B8E;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  letter-spacing: 1px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
}
.c-cta__heading h2 {
  font-size: 24px;
  text-align: center;
}
.c-cta__heading p {
  padding-top: 16px;
  text-align: center;
}

.c-cta__tel {
  text-align: center;
  padding-top: 20px;
}
.c-cta__tel span {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}
.c-cta__tel a {
  font-size: 24px;
  display: inline-block;
  padding-left: 12px;
}
.c-cta__tel p {
  font-size: 14px;
}

.c-cta__btn a {
  color: #fff;
  text-align: center;
  background: #A99B8E;
  padding: 12px 16px;
  letter-spacing: 1.6px;
  margin: 24px auto 0;
  display: block;
  transition: 0.4s;
  position: relative;
}
@media (min-width: 768px) {
  .c-cta__btn a {
    width: 200px;
    margin-left: 0;
  }
}
.c-cta__btn a:hover {
  background: #E7E2D9;
  color: #333;
  border: 1px solid #dadada;
}

@media (min-width: 768px) {
  .c-cta__wrapper {
    padding: 40px;
  }
  .c-cta__btn {
    padding-top: 40px;
  }
  .c-cta__btn a {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .c-cta__wrapper {
    max-width: 880px;
    margin: 0 auto;
    padding: 64px;
  }
  .c-cta__info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 520px;
    padding-top: 24px;
  }
  .c-cta__btn {
    padding-top: 20px;
  }
  .c-cta__tel {
    padding-top: 12px;
  }
  .c-cta__tel a {
    font-size: 32px;
  }
}
.c-section {
  padding: 40px 0;
  overflow: hidden;
}

.c-section + .c-section {
  border-top: 1px solid #dadada;
}

.c-section__heading span {
  color: #A99B8E;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
}
.c-section__heading h2 {
  position: relative;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .c-section {
    padding: 64px 0;
  }
  .c-section__heading span {
    font-size: 16px;
  }
  .c-section__heading h2 {
    font-size: 24px;
  }
}
.c-table {
  padding: 32px 0;
}

.c-table table {
  border-collapse: collapse;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.c-table table th {
  text-align: left;
}
.c-table table th span {
  font-size: 14px;
}
.c-table table td span {
  font-size: 14px;
}

@media not all and (min-width: 1024px) {
  .c-table tr {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .c-table th {
    display: block;
    padding: 20px 12px 8px;
    font-size: 18px;
  }
  .c-table td {
    display: block;
    padding: 8px 0 20px 12px;
  }
}
@media (min-width: 1024px) {
  .c-table th {
    padding: 24px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    width: 160px;
    vertical-align: top;
  }
  .c-table td {
    padding: 24px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
}
.c-table__list li {
  position: relative;
  margin-top: 4px;
}

.c-post {
  background: #fff;
  max-width: 620px;
  margin: 0 auto;
}

.c-post__header {
  padding: 16px 0;
}
.c-post__header h1 {
  font-size: 20px;
  line-height: 1.5;
  margin: 16px 0;
  position: relative;
  padding-top: 12px;
}
.c-post__header h1:after {
  position: absolute;
  background: #A99B8E;
  height: 2px;
  width: 48px;
  left: 0;
  top: -10px;
  content: "";
}

.c-post__thumbnail img {
  width: 100%;
  height: auto;
}

.c-post__meta {
  display: flex;
  align-items: center;
}
.c-post__meta time {
  font-size: 14px;
}

.c-post__category {
  font-size: 14px;
  background-color: #eaeaea;
  color: #808080;
  padding: 2px 12px;
  margin-right: 8px;
  display: inline-block;
  transition: 0.5s;
}
.c-post__category:hover {
  opacity: 0.6;
}

.c-post__thumbnail {
  margin-bottom: 40px;
}

.c-post__main {
  margin-bottom: 56px;
}
.c-post__main h2 {
  font-size: 18px;
  border-left: 4px solid #A99B8E;
  padding: 10px 16px;
  background: #f7f7f7;
  margin-bottom: 20px;
  line-height: 1.5;
}
.c-post__main h3 {
  border-left: 4px solid #A99B8E;
  padding: 0 0 0 16px;
  margin-bottom: 20px;
  font-size: 18px;
}
.c-post__main h4 {
  font-size: 16px;
  margin-bottom: 20px;
}
.c-post__main p {
  margin-bottom: 32px;
}
.c-post__main img {
  margin-bottom: 52px;
}
.c-post__main ul, .c-post__main ol {
  background-color: #fafafa;
  border: dashed 1px #A99B8E;
  padding: 40px 16px;
  margin-bottom: 60px;
}
.c-post__main li {
  position: relative;
  padding-left: 12px;
}
.c-post__main li:before {
  display: block;
  content: "";
  position: absolute;
  top: 0.75em;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
}
.c-post__main ol {
  counter-reset: li;
}
.c-post__main ol > li {
  position: relative;
  padding-left: 24px;
}
.c-post__main ol > li:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #F5F3EE;
}
.c-post__main ol > li:after {
  counter-increment: li;
  content: counter(li);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 0;
  padding: 0;
  line-height: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 0.65em;
  letter-spacing: 0;
}
.c-post__main li:not(:last-child) {
  margin-bottom: 16px;
}
.c-post__main a {
  font-weight: bold;
  color: #337ab7;
  text-decoration: underline;
  transition: 0.5s;
}
.c-post__main a:hover {
  opacity: 0.6;
}
.c-post__main table {
  max-width: 800px;
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #CED0D6;
  border-left: 1px solid #CED0D6;
  margin-bottom: 40px;
}
.c-post__main th {
  text-align: center;
  border-right: 1px solid #CED0D6;
  border-bottom: 1px solid #CED0D6;
  padding: 20px;
  background: #F9FBFD;
}
.c-post__main td {
  display: block;
  width: 100%;
  border-right: 1px solid #CED0D6;
  border-bottom: 1px solid #CED0D6;
  padding: 20px;
  text-align: center;
}

.box {
  padding: 20px 16px 20px;
  background-color: #fafafa;
  outline: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  margin-bottom: 60px;
}
.box p {
  margin-bottom: 0;
}

/*================================
	PC
=================================*/
@media (min-width: 1024px) {
  .c-post__header h1 {
    font-size: 24px;
  }
  .c-post__main {
    padding: 16px 0;
  }
  .c-post__main h2 {
    font-size: 24px;
    padding: 20px 32px;
  }
  .c-post__main h3 {
    font-size: 20px;
  }
  .c-post__main p {
    margin-bottom: 36px;
  }
  .box {
    padding: 40px 16px;
  }
  .box p {
    margin-bottom: 0;
  }
}
@media not all and (min-width: 1024px) {
  th {
    display: block;
    width: 100%;
  }
}
.c-sns {
  padding: 20px 0 36px;
}

.c-sns__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-sns__item {
  width: 48%;
  padding-top: 20px;
  transition: 0.4s;
}
.c-sns__item:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .c-sns {
    padding: 40px 0;
  }
  .c-sns__item {
    width: 22%;
    padding-top: 0;
  }
}
/*================================
	余白調整
=================================*/
.c-grid:not(:last-child) {
  margin: 24px 0 40px;
}
@media (min-width: 768px) {
  .c-grid:not(:last-child) {
    margin: 64px 0 120px;
  }
}

@media (min-width: 768px) {
  .c-grid:last-child {
    margin-bottom: 64px;
  }
}
/*================================
	レイアウト
=================================*/
@media (min-width: 768px) {
  .c-grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
  .c-grid__item:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .c-grid__item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .c-grid__item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
/*================================
	背景
=================================*/
.c-grid__container {
  position: relative;
}
.c-grid__container:after {
  position: absolute;
  content: "";
  background: #F5F3EE;
  z-index: -1;
  top: -20px;
  right: -20px;
  width: 140px;
  height: 140px;
}

@media (min-width: 1024px) {
  .c-grid__container {
    position: relative;
  }
  .c-grid__container:after {
    top: 0;
    left: -60px;
    width: 200px;
    height: 200px;
  }
}
.c-flow {
  padding: 40px 0;
  border-top: 1px solid #dadada;
}

.c-flow__list {
  max-width: 800px;
  padding-top: 32px;
  margin: 0 auto;
  position: relative;
}

.c-flow__item {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
}
.c-flow__item span {
  background: #A99B8E;
  color: #fff;
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Crimson Text", serif;
}
@media (min-width: 640px) {
  .c-flow__item span {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .c-flow__item span {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 1024px) {
  .c-flow__item span {
    width: 56px;
    height: 56px;
    font-size: 20px;
  }
}

.c-flow__content {
  width: 88%;
}
.c-flow__content p {
  padding-top: 12px;
}

@media (min-width: 768px) {
  .c-flow__item {
    margin-bottom: 24px;
  }
  .c-flow__content {
    width: 90%;
    padding-top: 12px;
  }
}
/*================================
	PC
=================================*/
@media (min-width: 1024px) {
  .c-flow {
    padding: 88px 0 40px;
  }
  .c-flow__list {
    margin-top: 24px;
  }
  .c-flow__item {
    padding: 28px 28px 40px;
    margin-bottom: 40px;
  }
  .c-flow__content h3 {
    font-size: 20px;
  }
}
/*================================
	代表挨拶
=================================*/
.c-about__portrait img {
  margin-top: 24px;
}
.c-about__portrait p {
  font-size: 14px;
  margin-top: 8px;
  text-align: right;
}

@media (min-width: 768px) {
  .c-about__portrait img {
    margin-top: 0;
  }
}
/*================================
	アクセス
=================================*/
@media not all and (min-width: 1024px) {
  .c-about__access tr {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .c-about__access th {
    display: block;
    padding: 20px 12px 8px;
    font-size: 18px;
  }
  .c-about__access td {
    display: block;
    padding: 8px 0 20px 12px;
  }
}
@media (min-width: 1024px) {
  .c-about__access th {
    padding: 20px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    width: 120px;
    vertical-align: top;
  }
  .c-about__access td {
    padding: 20px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .c-about__access td a {
    font-weight: bold;
    color: #337ab7;
  }
}
/*================================
	PanasonicリフォームClubについて
=================================*/
.c-about__pana {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px 20px;
  background: #F5F3EE;
  margin-top: 24px;
}
.c-about__pana p {
  padding-top: 16px;
}
.c-about__pana a {
  font-weight: bold;
  color: #337ab7;
}

@media (min-width: 768px) {
  .c-about__pana {
    padding: 24px 40px 32px;
  }
}
.c-works {
  padding-top: 20px;
}

.c-works__item {
  padding-bottom: 24px;
  transition: 0.5s;
}
.c-works__item:hover {
  opacity: 0.6;
}
.c-works__item span {
  font-size: 12px;
  background-color: #E7E2D9;
  color: #A99B8E;
  padding: 2px 12px;
  margin-right: 8px;
  display: inline-block;
  margin-top: 12px;
}
.c-works__item h3 {
  font-size: 18px;
  padding-top: 8px;
}
.c-works__item p {
  font-size: 14px;
  padding-top: 4px;
}

.c-works__img img {
  height: 240px;
}

@media not all and (min-width: 768px) {
  .c-works__item {
    border-bottom: 1px solid #ddd;
  }
  .c-works__item:not(:first-child) {
    padding-top: 28px;
  }
}
@media (min-width: 768px) {
  .c-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }
  .c-works__item {
    width: 48%;
    margin-bottom: 32px;
  }
}
@media (min-width: 1024px) {
  .c-works:after {
    content: "";
    display: block;
    width: 32%;
  }
  .c-works__item {
    width: calc((100% - 60px) / 3);
  }
}
.c-related { /* 関連記事のスタイリング */ }
.c-related span {
  font-size: 14px;
  background-color: #eaeaea;
  color: #808080;
  padding: 2px 12px;
  margin-right: 8px;
  display: inline-block;
  margin-top: 12px;
}
.c-related h3 {
  font-size: 18px;
  padding-top: 8px;
}
.c-related h2 {
  border-left: 4px solid #A99B8E;
  font-size: 18px;
  padding-left: 16px;
}
.c-related ul {
  margin-top: 20px;
}
.c-related li {
  margin-bottom: 24px;
  background: #fff;
  padding: 16px 20px;
  border: 1px solid #f1f2f4;
  transition: 0.5s;
}
.c-related li:hover {
  opacity: 0.6;
}
.c-related h3 {
  font-size: 16px;
  line-height: 1.5;
}
.c-related img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-related p {
  margin: 8px 0;
  font-size: 14px;
}
.c-related time {
  font-size: 14px;
}

@media (min-width: 768px) {
  .c-related ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .c-related li {
    width: 49%;
  }
}
@media not all and (min-width: 768px) {
  .c-related li {
    border-bottom: 1px solid #ddd;
  }
  .c-related li:not(:first-child) {
    padding-top: 28px;
  }
}
.contactTable {
  width: 100%;
  border-bottom: 1px dashed #ccc;
}

.contactTable tr {
  height: 100px; /*表組みのheightはmin-heightとして動作します（min-heightは無効）*/
  border-top: 1px dashed #ccc;
}

.contactTable th {
  width: 32.4%;
  padding: 20px 40px 20px 0;
  vertical-align: middle;
}

.contactTable td {
  padding: 20px 0;
  vertical-align: middle;
}

.contactTable,
.contactTable tbody,
.contactTable tr,
.contactTable th,
.contactTable td {
  display: block;
}

.contactTable tr {
  height: auto;
}

.contactTable th {
  width: 100%;
  padding: 20px 0 0 0;
}

.contactTable td {
  padding: 10px 0 20px 0;
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; /*ブラウザ標準スタイルを無効にする*/
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: inherit;
}

input[type=number],
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input[type=number],
input[type=password] {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*エラー時*/
.is-error input[type=text],
.is-error input[type=email],
.is-error input[type=tel],
.is-error input[type=url],
.is-error input[type=number],
.is-error input[type=password],
.is-error textarea,
.is-error select,
.is-error .selectWrap {
  color: #DF5656;
  border-color: #DF5656;
}

/*select
--------------------------*/
.selectWrap {
  position: relative;
}

.selectWrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

select::-ms-expand { /*IEでもselectの矢印を消す*/
  display: none;
}

/*radio, checkbox
------------------------------------*/
input[type=radio],
input[type=checkbox] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type=radio]:focus + span,
input[type=checkbox]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(55, 149, 47, 0.7);
}

/*ラジオボタンスタイル*/
input[type=radio] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type=radio] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type=radio]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #F5F3EE;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type=checkbox] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type=checkbox] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type=checkbox]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #37952F;
  border-right: 3px solid #37952F;
  transform: rotate(45deg);
}

caption, th {
  text-align: left;
}

/*----------------------------------------
	Form Layout
----------------------------------------*/
/*ラベル*/
.inputLabel {
  font-size: 16px;
}

/*サブラベル*/
.inputSubLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/*必須ラベル*/
.require {
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
  background: #A99B8E;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
}

/*注意書き*/
.inputNote {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}

/*名前・フリガナ*/
.nameLayout > * + * {
  margin-top: 10px;
}

@media screen and (min-width: 768px), print {
  .nameLayout {
    display: flex;
    justify-content: space-between;
  }
  .nameLayout > * {
    width: 48.68%;
  }
  .nameLayout > * + * {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  /*法人・個人*/
  .radioList_hr {
    display: flex;
  }
}
/*エラーメッセージ*/
.errorText {
  display: none;
  align-items: center;
  margin-top: 16px;
  color: #df5656;
  font-weight: bold;
}

.inputField.is-error .errorText {
  display: block;
}

.errorText::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.2em;
  background: url(../img/icon_attention.svg) center center/contain no-repeat;
  vertical-align: middle;
}

/*----------------------------------------
	個人情報保護方針チェック
----------------------------------------*/
.privacyBox {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid #ccc;
}
.privacyBox a {
  text-decoration: underline;
}

.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .privacyBox {
    padding: 40px 24px;
    text-align: center;
  }
  .privacyBox__check {
    margin-top: 50px;
  }
}
/*----------------------------------------
	送信ボタン
----------------------------------------*/
.formBtns {
  display: flex;
  justify-content: center;
}

.buttonAction {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  margin: 0;
  padding: 12px 20px;
  width: 100%;
  max-width: 240px;
  border: 2px solid #A99B8E;
  background: #A99B8E;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}

.buttonAction:hover {
  opacity: 0.7;
}

.-en {
  font-size: 14px;
  padding-left: 4px;
}

.p-mainVisual {
  position: relative;
}

.p-mainVisual__img {
  height: 90vh;
  width: 100%;
}
.p-mainVisual__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mainVisual__copy {
  position: absolute;
  top: 22%;
  right: 12%;
  display: flex;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.p-mainVisual__copy h1 {
  writing-mode: vertical-rl;
  color: #fff;
  font-family: YakuHanMPs_Noto, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif JP", serif;
  letter-spacing: 0.2em;
  line-height: 1.4;
  margin-left: 16px;
}
.p-mainVisual__copy p {
  writing-mode: vertical-rl;
  color: #fff;
  letter-spacing: 0.2em;
  font-family: YakuHanMPs_Noto, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif JP", serif;
}

@media (min-width: 1024px) {
  .p-mainVisual__copy {
    top: 16%;
    right: 14%;
  }
  .p-mainVisual__copy h1 {
    font-size: 56px;
  }
  .p-mainVisual__copy p {
    font-size: 20px;
    margin-left: 16px;
    margin-top: 8px;
  }
}
.slick-slide {
  height: 90vh;
}

.p-topics {
  padding: 40px 0;
  border-bottom: 1px solid #dadada;
}

.p-topics__contents {
  margin-bottom: 16px;
}

.p-topics__texts h2 {
  color: #333;
  border-left: 9px solid #A99B8E;
  padding-left: 10px;
  font-size: 20px;
  margin-left: -14px;
}
.p-topics__texts p {
  margin-top: 20px;
}

.p-topics__table {
  margin: 0 0 16px;
  border-collapse: collapse;
  width: 100%;
}
.p-topics__table tr {
  border-bottom: 1px solid #eaeaea;
}
.p-topics__table th {
  text-align: left;
  color: #A99B8E;
}

@media not all and (min-width: 1024px) {
  .p-topics__table th {
    display: block;
    padding: 8px 0 0;
  }
  .p-topics__table td {
    display: block;
    padding: 0 0 8px;
  }
}
@media (min-width: 768px) {
  .p-topics__body {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .p-topics__img {
    width: 50%;
  }
  .p-topics__img img {
    height: 100%;
  }
  .p-topics__contents {
    width: 45%;
    padding-top: 16px;
  }
}
@media (min-width: 1024px) {
  .p-topics {
    padding: 64px 0;
  }
  .p-topics__texts h2 {
    margin-left: 0;
  }
  .p-topics__table th {
    padding: 16px 0 16px 8px;
  }
}
.p-topService {
  padding: 40px 0;
}

.p-topService__items {
  margin-top: 24px;
}

.p-topService__item {
  padding-bottom: 40px;
}

.p-topService__image-sm {
  display: none; /* スマホでは非表示 */
}

.p-topService__heading {
  position: relative;
  margin-top: 40px;
  /* 縦書きの見出し */
  /* 縦書きの見出し横の数字 */
}
.p-topService__heading p {
  writing-mode: vertical-rl;
  font-family: YakuHanMPs_Noto, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Noto Serif JP", serif;
  letter-spacing: 0.5em;
  line-height: 1.4;
  font-size: 24px;
  margin: 0 auto;
}
.p-topService__heading:after {
  content: "01";
  position: absolute;
  top: -44px;
  right: 80px;
  font-size: 48px;
  color: #A99B8E;
  opacity: 0.2;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Crimson Text", serif;
}

/* 縦書きの見出し横の数字を増やす */
.heading02:after {
  content: "02";
}

.heading03:after {
  content: "03";
}

/* スマホの余白調整 */
.p-topService__texts {
  margin-top: 24px;
}

/* 横書きの見出しと文章 */
.p-topService__textArea {
  padding-top: 24px;
  position: relative;
  max-width: 500px;
  /* 英語のサブタイトル */
}
.p-topService__textArea span {
  font-size: 14px;
  color: #A99B8E;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
}
.p-topService__textArea p {
  padding-top: 12px;
}

/*================================
	Tab
=================================*/
@media (min-width: 768px) {
  .p-topService {
    padding: 64px 0;
  }
  .p-topService__items {
    margin: 40px 0 0;
  }
  .p-topService__item:not(:last-child) {
    padding-bottom: 160px;
  }
  .p-topService__images {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 1280px) / 2 + 1280px);
  }
  /* 一番小さい画像（全サービス共通） */
  .p-topService__image-sm {
    display: block;
    width: 220px;
  }
  .p-topService__image-sm img {
    margin-top: 120px;
    width: 100%;
    height: 200px;
  }
  /* 「新築」のMサイズの画像 */
  .p-topService__image-newly-md {
    background-image: url(../images/newly/newly3.jpg);
    background-size: cover;
    height: 350px;
    width: 38%;
    /* スマホ専用の画像を非表示 */
  }
  .p-topService__image-newly-md img {
    display: none;
  }
  /* 「新築」の一番大きい画像 */
  .p-topService__image-newly-lg {
    background-image: url(../images/newly/newly2.jpg);
    background-size: cover;
    height: 400px;
    width: calc(100% - 600px);
    margin-left: 24px;
  }
  /* 「リノベーション」のMサイズの画像 */
  .p-topService__image-renovation-md {
    background-image: url(../images/renovation/renovation3.jpg);
    background-size: cover;
    height: 350px;
    width: 38%;
    /* スマホ専用の画像を非表示 */
  }
  .p-topService__image-renovation-md img {
    display: none;
  }
  /* 「リノベーション」の一番大きい画像 */
  .p-topService__image-renovation-lg {
    background-image: url(../images/renovation/renovation2.jpg);
    background-size: cover;
    height: 400px;
    width: calc(100% - 600px);
    margin-left: 24px;
  }
  /* 「リフォーム」のMサイズの画像 */
  .p-topService__image-reform-md {
    background-image: url(../images/reform/reform3.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 38%;
    /* スマホ専用の画像を非表示 */
  }
  .p-topService__image-reform-md img {
    display: none;
  }
  /* 「リフォーム」の一番大きい画像 */
  .p-topService__image-reform-lg {
    background-image: url(../images/reform/reform2.jpg);
    background-size: cover;
    height: 400px;
    width: calc(100% - 600px);
    margin-left: 24px;
  }
  /* 縦書きの見出し */
  .p-topService__heading {
    width: 260px;
    /* 数字の位置を調整 */
  }
  .p-topService__heading p {
    font-size: 24px;
  }
  .p-topService__heading:after {
    top: -84px;
    right: 24px;
    font-size: 72px;
  }
  .p-topService__texts {
    display: flex;
    flex-wrap: wrap;
    margin: -40px auto 0;
    align-items: center;
  }
  .p-topService__textArea {
    padding-left: 98px;
    padding-top: 48px;
    width: 56.01%;
    max-width: 500px;
  }
  /* 「リノベーションは横並びを逆にする */
  .item02 {
    flex-direction: row-reverse;
  }
  .item02 .p-topService__textArea {
    padding-right: 98px;
    padding-left: 0;
  }
}
.p-topPickup {
  padding: 40px 0;
  position: relative;
  border-top: 1px solid #dadada;
}
.p-topPickup:after {
  background: url("../images/pickup/pickup-bg.svg");
  position: absolute;
  content: "";
  width: 88%;
  height: 240px;
  top: 0;
  right: 0;
}

.p-topPickup__heading span {
  font-weight: bold;
  color: #A99B8E;
  letter-spacing: 2px;
}
.p-topPickup__heading h2 {
  font-size: 20px;
  padding-top: 12px;
  font-weight: bold;
}

.p-topPickup__texts {
  padding-top: 16px;
}

.p-topPickup__images {
  position: relative;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .p-topPickup {
    padding: 40px 0;
  }
  .p-topPickup:after {
    width: 48%;
    height: 240px;
    top: 50%;
    left: 0;
    z-index: -1;
  }
  .p-topPickup__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .p-topPickup__left {
    width: 46%;
  }
  .p-topPickup__images {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .p-topPickup {
    padding: 64px 0;
  }
  .p-topPickup:after {
    width: 40%;
    height: 320px;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .p-topPickup__left {
    width: 50%;
    padding-right: 80px;
  }
  .p-topPickup__images {
    width: 50%;
  }
}
.p-topWorks {
  background: #F5F3EE;
  padding: 40px 0;
}

.p-topWorks__heading {
  line-height: 1.4;
}
.p-topWorks__heading span {
  font-size: 14px;
  color: #A99B8E;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.p-topWorks__heading h2 {
  letter-spacing: 2px;
}

.p-topWorks__header {
  padding-top: 4px;
}
.p-topWorks__header span {
  font-size: 12px;
  background-color: #E7E2D9;
  color: #A99B8E;
  padding: 2px 12px;
  margin-right: 8px;
  display: inline-block;
  margin-top: 12px;
}
.p-topWorks__header h3 {
  font-size: 18px;
  padding-top: 4px;
}
.p-topWorks__header p {
  font-size: 14px;
  padding-top: 4px;
}

.p-topWorks__list {
  padding-top: 20px;
}

.p-topWorks__item {
  transition: 0.5s;
}
.p-topWorks__item:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .p-topWorks {
    margin-top: 40px;
    position: relative;
    padding: 64px 0;
  }
  .p-topWorks__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .p-topWorks__heading {
    width: 12%;
    padding-right: 40px;
    writing-mode: vertical-rl;
  }
}
.p-topWorks__inner {
  padding-left: 6%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .p-topWorks {
    padding: 120px 0;
  }
  .p-topWorks__heading {
    margin-top: -40px;
  }
  .p-topWorks__heading span {
    font-size: 16px;
  }
}
/*================================
	Swiper
=================================*/
.swiper {
  position: relative;
}

.swiper-slide {
  margin-right: 20px;
}

/* 幅・高さを指定 */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.6;
}

/* 矢印を消す、画像に変更 */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: auto;
}

/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../images/common/arrow-before.svg);
}

/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../images/common/arrow-next.svg);
}

.swiper-btn {
  display: none;
}
@media (min-width: 768px) {
  .swiper-btn {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .swiper-btn {
    position: absolute;
    display: flex;
    top: -40px;
    left: 80%;
    width: 140px;
  }
}

.swiper-pagination-bullets {
  display: none;
}

.p-topAbout {
  padding: 40px 0;
  position: relative;
}

.p-topAbout__heading span {
  font-size: 14px;
  color: #A99B8E;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
}
.p-topAbout__heading h2 {
  font-size: 20px;
}

.p-topAbout__text p {
  padding-top: 12px;
}

.p-topAbout__menu {
  padding-top: 40px;
}
.p-topAbout__menu li {
  border-bottom: 1px solid #DFDFDF;
  padding-left: 16px;
  color: #A99B8E;
  transition: 0.5s;
}
.p-topAbout__menu li:first-child {
  border-top: 1px solid #DFDFDF;
}
.p-topAbout__menu li:hover {
  opacity: 0.6;
}
.p-topAbout__menu a {
  padding: 25px 50px 25px 0;
  display: block;
  position: relative;
}
.p-topAbout__menu a:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/common/icon-triangle.svg) no-repeat center center/cover;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .p-topAbout__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .p-topAbout__left {
    width: 48%;
    padding: 24px;
  }
  .p-topAbout__menu {
    width: 50%;
    padding: 24px;
  }
}
.p-topBlog {
  background: #E7E2D9;
  padding: 40px 0;
}

.p-topBlog__heading span {
  font-size: 14px;
  color: #A99B8E;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.p-topBlog__heading h2 {
  letter-spacing: 2px;
}

.p-topBlog__meta time {
  font-size: 14px;
  color: #808080;
}

.p-topBlog__list {
  background: #fff;
  padding: 0 16px 20px;
  margin-top: 24px;
}

.p-topBlog__item {
  padding-top: 20px;
  transition: 0.5s;
  padding-bottom: 8px;
}
.p-topBlog__item h3 {
  font-size: 16px;
}
.p-topBlog__item:hover {
  opacity: 0.6;
}

.p-topBlog__item {
  border-bottom: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .p-topBlog__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .p-topBlog__heading {
    writing-mode: vertical-rl;
    width: 10%;
    padding-top: 20px;
  }
  .p-topBlog__heading span {
    font-size: 16px;
  }
  .p-topBlog__heading h2 {
    font-size: 24px;
  }
  .p-topBlog__list {
    width: 84%;
    margin-left: 60px;
    background: #fff;
    padding: 40px 120px 40px;
  }
  .p-topBlog__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .p-topBlog {
    padding: 64px 0;
  }
}
.p-feature__list {
  background: #E7E2D9;
  margin-top: 20px;
  margin-bottom: 16px;
}
.p-feature__list li {
  padding: 8px;
  padding-left: 28px;
  text-indent: -1em;
  border-bottom: 1px solid #fff;
  position: relative;
  font-size: 14px;
  font-weight: bold;
}
.p-feature__list li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #A99B8E;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

@media (min-width: 768px) {
  .p-feature__list {
    margin-bottom: 0;
  }
}
/*================================
	背景
=================================*/
.p-feature__item01 {
  position: relative;
}
.p-feature__item01:after {
  position: absolute;
  content: "";
  background: #F5F3EE;
  z-index: -1;
  bottom: 0;
  right: -60px;
  width: 200px;
  height: 200px;
}

.p-feature__item02 {
  position: relative;
}
.p-feature__item02:after {
  position: absolute;
  content: "";
  background: #F5F3EE;
  z-index: -1;
  bottom: 0;
  right: -60px;
  width: 200px;
  height: 200px;
}

@media (min-width: 1024px) {
  .p-feature__item01 {
    position: relative;
  }
  .p-feature__item01:after {
    top: 0;
    left: -60px;
  }
  .p-feature__item02 {
    position: relative;
  }
  .p-feature__item02:after {
    top: 0;
  }
}
.p-service__item {
  padding: 20px 0;
}
.p-service__item img {
  height: 240px;
  width: 100%;
}

/* 箇条書きのボックス */
.p-service__list {
  padding: 20px 16px 8px;
  background: #fff;
  position: relative;
  background: #F5F3EE;
}
.p-service__list li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 16px;
  text-indent: -1em;
}
.p-service__list li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #A99B8E;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  margin-top: -4px;
}

/* 見出し、文章、画像 */
.p-service__heading h2 {
  font-size: 20px;
}
.p-service__heading span {
  text-transform: uppercase;
  color: #A99B8E;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.p-service__text p {
  padding-top: 12px;
}

.p-service__img {
  height: 100%;
}

/* スマホ用の余白調整 */
@media not all and (min-width: 768px) {
  .p-service__item + .p-service__item {
    padding-top: 24px;
  }
}
/*================================
	tab
=================================*/
@media (min-width: 768px) {
  .p-service__item {
    padding: 40px 24px;
  }
  .p-service__item img {
    display: block;
    max-height: 370px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-service__list {
    padding: 24px 40px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .p-service__list li {
    width: 30%;
  }
}
/*================================
	PC
=================================*/
@media (min-width: 1024px) {
  .p-service {
    padding-top: 48px;
  }
  .p-service__heading h2 {
    font-size: 24px;
  }
}
/*================================
	会社概要
=================================*/
/* 会社概要の画像 */
.p-profile__img img {
  display: block;
  margin: 0 auto;
}

.p-member {
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.p-member__texts h3 {
  font-weight: bold;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  padding-top: 12px;
}
.p-member__texts h3 span {
  font-size: 14px;
  display: inline-block;
  padding-right: 12px;
}
.p-member__texts h3:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 1px;
  background: #999;
  bottom: 0;
  left: 0;
}
.p-member__texts p {
  padding-top: 8px;
}

.p-member__item {
  margin-bottom: 40px;
}
.p-member__item img {
  height: 240px;
  width: 100%;
  -o-object-position: 74% 26%;
     object-position: 74% 26%;
}

/*================================
	Tab
=================================*/
@media (min-width: 768px) {
  .p-member__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    align-items: center;
  }
  .p-member__item img {
    width: 40%;
    min-height: 275px;
  }
  .p-member__texts {
    width: 55%;
  }
  .p-member__texts h3 {
    padding-top: 0;
  }
}
/*================================
	PC
=================================*/
@media (min-width: 1024px) {
  .p-member {
    margin-top: 40px;
  }
  .p-member:after {
    content: "";
    display: block;
    width: 32%;
  }
}
.p-pickup__button {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .p-pickup {
    padding-bottom: 0;
  }
}
/*================================
	背景
=================================*/
.p-pickup__item {
  position: relative;
}
.p-pickup__item:after {
  position: absolute;
  content: "";
  background: #F5F3EE;
  z-index: -1;
  top: -20px;
  left: -20px;
  width: 140px;
  height: 140px;
}

@media (min-width: 1024px) {
  .p-pickup__item {
    position: relative;
  }
  .p-pickup__item:after {
    top: 0;
    left: -60px;
    width: 200px;
    height: 200px;
  }
}
.p-blog {
  padding-top: 20px;
}

.p-blog__item {
  padding-bottom: 24px;
  transition: 0.5s;
}
.p-blog__item:hover {
  opacity: 0.6;
}
.p-blog__item h2 {
  font-size: 18px;
}
.p-blog__item p {
  font-size: 14px;
  padding-top: 4px;
}

.p-blog__meta {
  margin-top: 4px;
}
.p-blog__meta time {
  font-size: 14px;
  color: #999;
}

.p-blog__img img {
  height: 240px;
}

@media not all and (min-width: 768px) {
  .p-blog__item {
    border-bottom: 1px solid #ddd;
  }
  .p-blog__item:not(:first-child) {
    padding-top: 28px;
  }
}
@media (min-width: 768px) {
  .p-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .p-blog__item {
    width: 48%;
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .p-blog:after {
    content: "";
    display: block;
    width: 32%;
  }
  .p-blog__item {
    width: calc((100% - 60px) / 3);
  }
}
.p-single {
  background: #fff;
  max-width: 900px;
  margin: 0 auto;
}

.p-single__header {
  padding: 16px 0 0;
}
.p-single__header h1 {
  font-size: 20px;
  line-height: 1.5;
  margin: 16px 0;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 1px solid #A99B8E;
}
.p-single__header span {
  font-size: 14px;
  background-color: #fff;
  color: #A99B8E;
  padding: 2px 12px;
  border: 1px solid #A99B8E;
  margin-right: 8px;
  display: inline-block;
  margin-top: 12px;
}
.p-single__header span:hover {
  opacity: 0.8;
}

.p-single__thumbnail {
  margin-bottom: 40px;
}
.p-single__thumbnail img {
  width: 100%;
  height: auto;
}

.p-single__info {
  font-size: 14px;
  margin-bottom: 40px;
}
.p-single__info table {
  border-collapse: collapse;
}
.p-single__info tr {
  border-bottom: 1px solid #CED0D6;
}
.p-single__info th {
  display: block;
  width: 80px;
  text-align: left;
  padding: 10px 10px 10px 0;
}
.p-single__info td {
  padding: 10px 0 10px 10px;
}

.p-single__body {
  margin-bottom: 56px;
}
.p-single__body p {
  margin: 32px 0;
}
.p-single__body figure {
  margin-bottom: 20px;
}

/*================================
	Tab
=================================*/
@media (min-width: 768px) {
  .p-single__info table {
    width: 100%;
  }
  .p-single__info th {
    width: 100%;
    text-align: center;
  }
  .p-single__img2 {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .p-single__img2 figure {
    width: 50%;
  }
  .p-single__img3 {
    display: flex;
    gap: 20px;
  }
}
/*================================
	PC
=================================*/
@media (min-width: 1024px) {
  .p-single__header h1 {
    font-size: 24px;
  }
  .p-single__body p {
    margin: 44px 0;
  }
}
.p-contact__wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 20px;
}
.p-contact__wrapper p {
  margin-bottom: 16px;
}

.p-contact__item {
  padding: 20px 0 40px;
}

.p-contact__heading {
  border-left: 4px solid #A99B8E;
  padding-left: 8px;
}

.p-contact__content {
  padding-top: 20px;
}

.p-contact__info {
  text-align: center;
  line-height: 1.4;
  background: #f7f7f7;
  padding: 24px 0;
}
.p-contact__info a {
  display: inline-block;
  font-size: 32px;
  color: #A99B8E;
  letter-spacing: 1px;
  position: relative;
}
.p-contact__info a:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/common/icon-tel.png) no-repeat center center/cover;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
}
.p-contact__info span {
  font-size: 14px;
  display: block;
}

.-line {
  font-size: 16px;
}
.-line p {
  margin-bottom: 0;
}
.-line a {
  font-size: 20px;
}
.-line a:before {
  width: 24px;
  height: 24px;
  background: url(../images/common/icon-mail.svg) no-repeat center center/cover;
}

.p-contact__mail {
  margin-top: 16px;
}
.p-contact__mail ul {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .-mail a {
    font-size: 24px;
  }
  .p-contact__mail {
    margin-top: 32px;
  }
  .p-contact__item {
    padding-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */