@use "../setting/setting";

.p-topAbout{
  padding: 40px 0;
  position: relative;  
}

.p-topAbout__heading{
  span{
    font-size: 14px;
    color: setting.$color-main;
    text-transform: uppercase;
    font-family: setting.$font-en;
    letter-spacing: 1px;
  }

  h2{
    font-size: 20px;
  }
}

.p-topAbout__text{
  p{
    padding-top: 12px;
  }
}

.p-topAbout__menu{
  padding-top: 40px;

  li{
    border-bottom: 1px solid #DFDFDF;
    padding-left: 16px;
    color: setting.$color-main;
    transition: .5s;

    &:first-child{
      border-top: 1px solid #DFDFDF;
    }

    
    &:hover{
      opacity: .6;
    }
  }

  a{
    padding: 25px 50px 25px 0;
    display: block;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background: url(../images/common/icon-triangle.svg) no-repeat center
        center/cover;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: 1024px){
  .p-topAbout__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .p-topAbout__left{
    width: 48%;
    padding: 24px;
  }

  .p-topAbout__menu{
    width: 50%;
    padding: 24px;
  }
}