@use "../setting/setting";

.p-topics{
  padding: 40px 0;
  border-bottom: 1px solid #dadada;
}

.p-topics__contents{
  margin-bottom: 16px;
}

.p-topics__texts{
  h2{
    color: #333;
    border-left: 9px solid setting.$color-main;
    padding-left: 10px;
    font-size: 20px;
    margin-left: -14px;
  }

  p{
    margin-top: 20px;
  }
}

.p-topics__table{
  margin: 0 0 16px;
  border-collapse: collapse;
  width: 100%;

  tr{
    border-bottom: 1px solid #eaeaea;
  }

  th{
    text-align: left;
    color: setting.$color-main;
  }
}

@media not all and (min-width: 1024px){
  .p-topics__table{
    th{
      display: block;
      padding: 8px 0 0;
    }

    td{
      display: block;
      padding: 0 0 8px;
    }
  }
}



@media (min-width: 768px){
  .p-topics__body{
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .p-topics__img{
    width: 50%;

    img{
      height: 100%;
    }
  }

  .p-topics__contents{
    width: 45%;
    padding-top: 16px;
  }
}

@media (min-width: 1024px){
  .p-topics{
    padding: 64px 0;
  }

  .p-topics__texts{
    h2{
      margin-left: 0;
    }
  }

  .p-topics__table{
    th{
      padding: 16px 0 16px 8px;
    }
  }
}
