@use "../setting/setting";

.p-topFeature{
  position: relative;
}

.p-topFeature__img{
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  z-index: -1;
  position: relative;
}

.p-topFeature__texts{
  background: setting.$color-sub;
  padding: 16px;
  margin-top: -64px;
}

.p-topFeature__heading{
  line-height: 1.4;

  span{
    text-transform: uppercase;
    color: setting.$color-main;
    font-size: 14px;
    letter-spacing: .1em;
  }

  h2{
    font-family: setting.$font-serif;
    font-size: 20px;
  }
}

.p-topFeature__text{
  padding-top: 16px;
}

@media (min-width: 768px){
  .p-topFeature__img{
    height: 60vw;
    
    img{
      height: 100%;
      width: 100%;
    }
  }

  .p-topFeature__texts{
    position: absolute;
    left: 0;
    top: 212px;
    width: 480px;
    padding: 36px 52px 36px 60px;
  }
}

@media (min-width: 1024px){
  .p-topFeature__img{
    height: 32vw;
  }

  .p-topFeature__texts{
    left: 6%;
  }
}

.p-feature__list{
  background: setting.$color-accent2;
  margin-top: 20px;

  li{
    padding: 8px;
    padding-left: 28px;
    text-indent: -1em;
    border-bottom: 1px solid #fff;
    position: relative;

    &:before{
      content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: setting.$color-main;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -4px;
    }
  }
}