@use "../setting/setting";

.p-topWorks{
  background: setting.$color-accent;
  padding: 40px 0;
}

.p-topWorks__heading{
  line-height: 1.4;

  span{
    font-size: 14px;
    color: setting.$color-main;
    text-transform: uppercase;
    font-family: setting.$font-en;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

  h2{
    letter-spacing: 2px;
  }  
}

.p-topWorks__header{
  padding-top: 4px;

  span{
    font-size: 12px;
    background-color: setting.$color-sub;
    color: setting.$color-main;
    padding: 2px 12px;
    margin-right: 8px;
    display: inline-block;
    margin-top: 12px;
  }

  h3{
    font-size: 18px;
    padding-top: 4px;
  }

  p{
    font-size: 14px;
    padding-top: 4px;
  }
}

.p-topWorks__list{
  padding-top: 20px;
}

.p-topWorks__item{
  transition: .5s;

  &:hover{
    opacity: .7;
  }
}

@media (min-width: 768px){
  .p-topWorks{
    margin-top: 40px;
    position: relative;
    padding: 64px 0;
  }

  .p-topWorks__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .p-topWorks__heading{
    width: 12%;
    padding-right: 40px;
    writing-mode: vertical-rl;
  }


}

.p-topWorks__inner{
  padding-left: 6%;
  margin: 0 auto;
}
 
@media (min-width: 1024px){
  .p-topWorks{
    padding: 120px 0;
  }

  .p-topWorks__heading{
    margin-top: -40px;

    span{
      font-size: 16px;
    }
  }
}

/*================================
	Swiper
=================================*/
.swiper{
  position: relative;
}

.swiper-slide{
  margin-right: 20px;
}

/* 幅・高さを指定 */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
  
  &:hover{
    opacity: .6;
  }
}
 
/* 矢印を消す、画像に変更 */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: auto;
}
 
/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../images/common/arrow-before.svg);
}

/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../images/common/arrow-next.svg);
}

.swiper-btn{
  display: none;

  @media (min-width: 768px){
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 1024px){
    position: absolute;
    display: flex;
    top: -40px;
    left: 80%;
    width: 140px;
  }
}

.swiper-pagination-bullets {
  display: none;
}
