@use "../setting/setting";

.p-topBlog{
  background: setting.$color-sub;
  padding: 40px 0;
}

.p-topBlog__heading{

  span{
    font-size: 14px;
    color: setting.$color-main;
    text-transform: uppercase;
    font-family: setting.$font-en;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

  h2{
    letter-spacing: 2px;
  }  
}


.p-topBlog__meta{
  time{
    font-size: 14px;
    color: #808080;

  }
}

  .p-topBlog__list{
     background: #fff;
     padding: 0 16px 20px;
     margin-top: 24px;
  }


.p-topBlog__item{
  padding-top: 20px;
  transition: .5s;
  padding-bottom: 8px;

  h3{
    font-size: 16px;
  }

  &:hover{
    opacity: .6;
  }
}

.p-topBlog__item{
  border-bottom: 1px solid #dddddd;
}

@media (min-width: 768px){
  .p-topBlog__wrapper{
    display: flex;
    justify-content: space-between;
  }

  .p-topBlog__heading{
    writing-mode: vertical-rl;
    width: 10%;
    padding-top: 20px;

    span{
      font-size: 16px;
    }
    h2{
      font-size: 24px;
    }  
  }

  .p-topBlog__list{
    width: 84%;
    margin-left: 60px;
    background: #fff;
    padding: 40px 120px 40px;
  }

  .p-topBlog__item{
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px){
  .p-topBlog{
    padding: 64px 0;
  }
}