@use "../setting/setting";

.p-topPickup{
  padding: 40px 0;
  position: relative;
  border-top: 1px solid #dadada;

  &:after{
    background: url('../images/pickup/pickup-bg.svg');
    position: absolute;
    content: '';
    width: 88%;
    height: 240px;
    top: 0;
    right: 0;
  }
}

.p-topPickup__heading{
  span{
    font-weight: bold;
    color: setting.$color-main;
    letter-spacing: 2px;
  }

  h2{
    font-size: 20px;
    padding-top: 12px;
    font-weight: bold;
  }
}

.p-topPickup__texts{
  padding-top: 16px;
}

.p-topPickup__images{
  position: relative;
  margin-top: 24px;
}


@media (min-width: 768px){
  .p-topPickup{
    padding: 40px 0;

    &:after{
      width: 48%;
      height: 240px;
      top: 50%;
      left: 0;
      z-index: -1;
    }
  }

  .p-topPickup__contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-topPickup__left{
    width: 46%;
  }

  .p-topPickup__images{
    width: 50%;
  }
}

@media (min-width: 1024px){
  .p-topPickup{
    padding: 64px 0;

    &:after{
      width: 40%;
      height: 320px;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .p-topPickup__left{
    width: 50%;
    padding-right: 80px;
  }

  .p-topPickup__images{
    width: 50%;
  }
}