@use "../setting/setting";

.p-work{
  padding: 120px 0 40px;
}

.p-work__wrapper{
  max-width: 620px;
  margin: 0 auto;
}

.p-work__header{
  span{
    color: setting.$color-main;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  h1{
    font-size: 20px;
  }
}

.p-work__thumbnail{
  margin-top: 20px;
}

.p-work__contents{
  margin-top: 20px;

  p{
    margin-top: 28px;
  }

  img{
    margin-top: 28px;
  }
}

@media (min-width: 768px){
  .p-work{
    padding-top: 100px;
  }
  
  .p-work__header{
    h1{
      text-align: center;
      padding-top: 12px;
    }
  }

  .p-work__contents{
    margin-top: 72px;

    p{
      margin-top: 36px;
    }

    img{
      margin-top: 36px;
    }
}

}