@use "../setting/setting";

.l-pageHeader{
  padding-top: 60px;
  position: relative;
}

.l-pageHeader__heading{
  writing-mode: vertical-rl;
  position: absolute;
  top: 120px;
  left: 32px;
  line-height: 1.4;

  span{
    color: setting.$color-main;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: setting.$font-en;
  }

  h1{
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.l-pageHeader__img{
  width: 70%;
  margin-left: 30%;
  
  img{
    height: 50vh;
  }
}

@media (min-width: 768px){
  .l-pageHeader__img{
    width: 86%;
    margin-left: 14%;

    img{
      height: 340px;
      width: 100%;
    }
  }

  .l-pageHeader__heading{
    left: 6%;
  }
}

@media (min-width: 1024px){
  .l-pageHeader{
    padding-top: 0;
    margin-bottom: 45px;

    &:after{
      content: "";
      position: absolute;
      background: #F5F3EE;
      right: 0;
      top: -90px;
      width: 38.46153vw;
      height: 500px;
      z-index: -1;
    }
  }

  .l-pageHeader__img{

    img{
      height: 340px;
      width: 100%;
    }
  }

  .l-pageHeader__heading{
    top: 72px;
  }
}
