/*================================
	ブレイクポイント
=================================*/

$breakpoints: (
  'sm': (min-width: 640px),
  'md': (min-width: 768px),
  'lg': (min-width: 1024px),
  'xl': (min-width: 1280px)
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*================================
	色設定
=================================*/
$color-main: #A99B8E;
$color-sub: #E7E2D9;
$color-accent: #E7E2D9;
$color-accent2: #F0F0F0;
$color-pink: #c7887f;
$color-link: #337ab7;

/*================================
	フォント
=================================*/
$font-serif: YakuHanMPs_Noto, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 'Noto Serif JP', serif;
$font-en: 'Lato', sans-serif;

/*================================
	全体共通
=================================*/
body{
  font-family:  YakuHanMPs_Noto, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", 'Noto Serif JP', serif;
  font-weight: 500;
  color: #333;
  line-height: 1.75;
}

h1, h2, h3{
  font-weight: normal;
}

a{
  color: inherit;
  cursor:pointer;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  object-fit: cover;
}

